<h1>Listing perguntas</h1>

<script type="text/javascript">
$(document).ready(function(){
  $('#teste').completable('/perguntas.json',{
    delay: 1000, dataType: "json", perScroll: 5, cache: true,
    handle: function(data){
      var result = [];
      var pergunta;
      $.each(data, function(i){
        pergunta = data[i].pergunta;
        result.push('<a href="/perguntas/'+ pergunta.id +'">'+ pergunta.titulo +'</a>');
        //result.push(pergunta.titulo);
      });
      return result;
    }/*,
    enter: function(item){
      alert($(item).html());
    }*/
  });
});
</script>

<input type="text" id="teste" size="30" />

<table>
  <tr>
    <th>Titulo</th>
    <th>Dica</th>
  </tr>

<% @perguntas.each do |pergunta| %>
  <tr>
    <td><%=h pergunta.titulo %></td>
    <td><%=h pergunta.dica %></td>
    <td><%= link_to 'Show', pergunta %></td>
    <td><%= link_to 'Edit', edit_pergunta_path(pergunta) %></td>
    <td><%= link_to 'Destroy', pergunta, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pergunta', new_pergunta_path %>